<p>
  <b>Title:</b>
  <%= link_to recipe.title, recipe %>
</p>

<p>
  <b>Recipe:</b>
  <%= recipe.body %>
</p>

<p>
  <%= link_to 'Destroy Recipe', [recipe.user, recipe],
              :confirm => 'Are you sure?',
              :method => :delete %>
</p>