<p id="notice"><%= notice %></p>

<p>
  <b>Locale:</b>
  <%= @ingredient_name.locale %>
</p>


<%= link_to 'Edit', edit_ingredient_name_path(@ingredient_name) %> |
<%= link_to 'Back', ingredient_names_path %>
