<h1>Listing ingredients_names</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ingredients_names.each do |ingredients_name| %>
  <tr>
    <td><%= link_to 'Show', ingredients_name %></td>
    <td><%= link_to 'Edit', edit_ingredients_name_path(ingredients_name) %></td>
    <td><%= link_to 'Destroy', ingredients_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ingredients name', new_ingredients_name_path %>
