@import "compass/reset";
@import "compass/css3";
@import "compass/utilities/lists/horizontal-list";
@import "recipes";

body {
  font-family: Helvetica;
  width: 100%;
  background: #E6E6E6;
}

header {
  display: block;
  height: 50px;
  line-height: 50px;
  color: white;
  text-align: center;
  @include background(linear-gradient(top, #8EBD47, #7EAD37));
  @include single-box-shadow(#333, 1px, 0, 3px, 3px);
  img {
    margin-top: 5px;
    height: 40px;
  }
}

.mailchimp {
  display: block;
  margin: 40px 0;
  color: white;
  padding: 20px;
  background: #88B938;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  font-size: 1.3em;

}
